aside {
    min-height: 100vh;
    right: 0;
    top: 0;
    position: sticky;
    padding: 20px 0;
}
.user-profile{
    text-align: center;
    color: #100F0F;
    margin: 20px auto;
}
.user-profile .location-text{
    margin: 10px 20px;
    color: #2b2b2b;
}
.user-profile + p {
    margin: 5px auto;
}
.user-avatar{
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: url(./user-pic2.jpg) top no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px -10px #181818;
}
.user-info,.break-list,.exercise-time,.break-time{
    background: #f5fafc;
    box-shadow: 0px 0px 20px -5px #00000070;
}
.user-info sub{
    color: #06283D;
}
.break-list,.exercise-time,.break-time,.complete-btn{
    padding: 10px 0;
}
.time-number {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 8px 1px;
    transition: background-color 0.3s linear;
    box-shadow: 0px 0px 20px -10px;
}
.time-number:hover{
    background: #059862;
}
.break-list button {
    font-size: 14px;
    border: none;
    background: none;
}
aside input:focus{
    outline: none;
}

.complete-btn{
    background-color: #324296;
    border: none;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #f7f1f6;
    transition: background-color .3s linear;
}
.complete-btn:hover{
    background-color: #059862;
}